.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; /* Space between card and form */
}

.box {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 8px;
}
.cardBox {
    flex: 1;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 8px;
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
}

.form-container input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}


.card, .form {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 8px;
    margin: 8rem auto 0;
}