.cards-table-color {
    color: #ffffff
}

.custom-table-hover tbody tr:hover {
    background-color: #121221;
    color: #ffffff;
    cursor: pointer;
}

.pagination-container .page-item {
    height: 38px; /* Adjust as needed */
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown-container .dropdown-toggle {
    height: 38px; /* Adjust to match pagination items */
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Optional: Style to visually separate the controls, if needed */
.control-section {
    display: flex;
    justify-content: space-between; /* This will add space between the items */
    /*align-items: center; !* Align items vertically *!*/
    gap: 10px; /* Adds space between pagination and dropdown */
    padding: 10px 0; /* Adds some padding above and below the section */
}
